.vscode/

apriltag/*.a
apriltag/*.so
apriltag/*.o
apriltag/*.swp
apriltag/example/opencv_demo
apriltag/example/apriltag_demo
apriltag/build/

apriltag_ros/**/matlab_rosbag-0.5.0-linux64/
apriltag_ros/**/*.bag

nlink_parser/*.txt.user
nlink_parser/build

realsense-ros/*.bin
realsense-ros/*.ppm
realsense-ros/*.bag
realsense-ros/*.pyc
realsense-ros/*.ini
realsense-ros/.idea/
realsense-ros/.vs/
realsense-ros/*.json
